.bgr {
  &-pink {
    background: $pink;
  }
  &-red {
    background: $red;
  }
}

.bolded {
  @include bolded();
}

.nav-link {
  @include no-underline();
}

.white {
  color: $white;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.pointer {
  cursor: pointer;
}

.iconic {
  display: inline-block;
}

.circle {
  &-24 {
    @include circle(24);
  }
}

.shopping-bag {
  &-24 {
    background: url("../img/icons_24.png");
    width: 24px;
    height: 24px;
    background-position: -151px -25px;
  }
}
